after-login-command = []
after-startup-command = []
on-focused-monitor-changed = [
  'move-mouse monitor-lazy-center'
]
on-focus-changed = [
  'move-mouse window-lazy-center',
]
exec-on-workspace-change = [
  # '/bin/bash', '-c', 'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 6
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
key-mapping.preset = 'qwerty'

[gaps]
inner.horizontal = 12
inner.vertical = 12
outer.left = 12
outer.bottom = 12
outer.top = 12
# outer.top = [{ monitor.main = 42 }, 12]
outer.right = 12

[mode.main.binding]
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'

alt-a = 'workspace 1'
alt-s = 'workspace 2'
alt-d = 'workspace 3'
alt-f = 'workspace 4'
alt-g = 'workspace V'
alt-b = 'workspace B'
alt-t = 'workspace T'
alt-1 = 'workspace alt1'
alt-2 = 'workspace alt2'

alt-shift-a = 'move-node-to-workspace 1'
alt-shift-s = 'move-node-to-workspace 2'
alt-shift-d = 'move-node-to-workspace 3'
alt-shift-f = 'move-node-to-workspace 4'
alt-shift-g = 'move-node-to-workspace V'
alt-shift-b = 'move-node-to-workspace B'
alt-shift-t = 'move-node-to-workspace T'
alt-shift-1 = 'move-node-to-workspace alt1'
alt-shift-2 = 'move-node-to-workspace alt2'

alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'
alt-shift-enter = 'fullscreen'

alt-shift-semicolon = [
  'mode service' ,
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=service'
]

[mode.service.binding]
esc = [
  'reload-config',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]
r = [
  'flatten-workspace-tree',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]
f = [
  'layout floating tiling',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]

alt-shift-h = [
  'join-with left',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]
alt-shift-j = [
  'join-with down',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]
alt-shift-k = [
  'join-with up',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]
alt-shift-l = [
  'join-with right',
  'mode main',
  'exec-and-forget sketchybar --trigger aerospace_mode_change MODE=main'
]

[[on-window-detected]]
    if.app-id = 'com.hnc.Discord'
    run = 'move-node-to-workspace 1'

[[on-window-detected]]
    if.app-id = 'com.apple.mail'
    run = 'move-node-to-workspace 1'

[[on-window-detected]]
    if.app-id = 'com.apple.MobileSMS'
    run = 'move-node-to-workspace 1'

[[on-window-detected]]
    if.app-id = 'com.tinyspeck.slackmacgap'
    run = 'move-node-to-workspace 1'

[[on-window-detected]]
    if.app-id = 'net.battle.app'
    run = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'unity.Blizzard Entertainment.Hearthstone'
    run = ['layout floating', 'move-node-to-workspace 2']

[[on-window-detected]]
    if.app-id = 'com.moonlight-stream.Moonlight'
    run = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'com.valvesoftware.steam'
    run = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'com.figma.Desktop'
    run = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.bohemiancoding.sketch3'
    run = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.raycast.macos'
    run = 'move-node-to-workspace 4'

[[on-window-detected]]
    if.app-id = 'com.anthropic.claudefordesktop'
    run = 'move-node-to-workspace 4'

[[on-window-detected]]
    if.app-id = 'com.mitchellh.ghostty'
    run = 'move-node-to-workspace T'

[[on-window-detected]]
    if.app-id = 'com.google.Chrome'
    run = 'move-node-to-workspace T'

[[on-window-detected]]
    if.app-id = 'company.thebrowser.Browser'
    run = 'move-node-to-workspace B'

[[on-window-detected]]
    if.app-id = 'app.zen-browser.zen'
    run = 'move-node-to-workspace B'

[[on-window-detected]]
    if.app-id = 'com.apple.Safari'
    run = 'move-node-to-workspace V'

[[on-window-detected]]
    if.app-id = 'com.google.Chrome'
    run = ['layout floating']

[[on-window-detected]]
    if.app-id = 'com.IdeaPunch.ColorSlurp'
    run = ['layout floating']

[[on-window-detected]]
    if.app-id = 'com.tinyapp.TablePlus'
    run = ['layout floating']

[workspace-to-monitor-force-assignment]
  V = 'secondary'
